<h2>MEMO</h2>
<ul class="memo-list">
  <% @memos.each do |id, memo| %>
    <li class="memo">
      <a href="/<%= id.to_i %>"><%= h(memo['title']) %></a>
    </li>
  <% end %>
</ul>
<div class="button">
  <a href="/new" class="btn">Create New Memo</a>
</div>
