<h1>MEMO</h1>
<ul class="memo-list">
  <% @contents["memos"].each do |key, value| %>
    <li class="memo">
      <a href="/<%= value['id'] %>"><%= h(value['title']) %></a>
    </li>
  <% end %>
</ul>
<div class="button">
  <a href="/new" class="btn">Create New Memo</a>
</div>
