<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
 <link rel="stylesheet" href="/style.css/">
 <title>Sinatra Memo App</title>
</head>
<body>
  <div class="header">
    <a href="/"><h1>Sinatra Memo App</h1></a>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>
