<h2>Create New Memo</h2>
<form method="post" action="/new">
  <div class="form-items">
    <div class="form-items__item">
      <label>Title</label>
      <input type="text" name="title">
    </div>

    <div class="form-items__item">
      <label>Memo</label>
      <textarea name="body"></textarea>
    </div>
  </div>
    <div class="btn_new">
      <input type="submit" value="Save" class="btn">
    </div>
</form>
